.revenue-left {
  background-color: #F2F5F8; /* Màu nền bên trái */
  padding: 20px;
  color: black;  /* Màu chữ */
  font-size: 14px;  /* Kích thước chữ */
  margin-right: 20px; /* Thêm khoảng cách bên phải để nhích chữ qua phải */

  /* Cấu hình flexbox để căn chỉnh các phần tử */
  display: flex;
  flex-direction: row; /* Sắp xếp các phần tử theo hàng ngang */
  justify-content: space-between; /* Đẩy các phần tử ra hai đầu (trái phải) */
  align-items: flex-start; /* Căn giữa theo chiều dọc */

}

.revenue-right {
  background-color: red; /* Màu nền bên phải */
  padding: 20px;
  color: black;  /* Màu chữ */
  font-size: 14px;  /* Kích thước chữ */
  height: 100%;  /* Chiều cao để phù hợp với Grid container */
}


h5 {
  font-size: 15px; /* Điều chỉnh font-size */
  margin-bottom: 10px;
  margin-top: 12px;
  margin-left: 5px;
}

.revenue-left button {
  margin-top: 10px; /* Thêm khoảng cách phía trên cho nút */
}